.pricing {
    margin: 80px auto;
  }
  
  .plans {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
  }
  
  .plan {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 40px 30px;
    border-radius: 10px;
    width: 30vw;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .plan:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .plan h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .plan-price,
  .plan-price-mensal {
    font-size: 2.5rem;
    margin: 20px 0;
    font-weight: bold;
  }
  
  .plan-price {
    display: flex;
    flex-direction: column;
  }

  .plan-price span,
  .plan-price-mensal span {
    font-size: 1rem;
    font-weight: normal;
    color: var(--light-gray);
  }
  
  .plan-features {
    list-style-type: none;
    margin: 20px 0;
  }
  
  .plan-features li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .plan-features span{
    font-size: 1.1rem;
    font-weight: 800;
  }
  
  .plan-features li:last-child {
    border-bottom: none;
  }

  #anual-plan{
    transform: scale(1.1);
    background-color: var(--secondary);  
  }

  #anual-plan:hover{
    transform: scale(1.15);
    filter: brightness(1.15);
  }